*
{
  box-sizing: border-box;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
  border-bottom: 1px solid #d8d5d5 ;
}

.nav .menu{
  height: 25px;
  cursor: pointer;

}

.icono{
  width: 32px;
  cursor: pointer;

}

.usuario{
  width: 32px;
  border-radius: 32px;
  cursor: pointer;

}

.google{
  height: 30px;
  margin-bottom: -3px;
  margin-left: 10px;
  cursor: pointer;

}

.nav__title {
  margin: 0px 30px;
}

.nav__item {
  display: inline-block;
  margin: 0px 30px;
}


.util{
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 16px;
  display: flex;
}

.util a{
  text-decoration: none;
  margin-top:8px;
  margin-left: 8px;
}

.calendario{
  margin-left: 20px;
}

.clase1{
  margin-left: 16px;
  position: relative;
}

.clase2{
  margin-top: -288px;
  margin-left: 362px;
  position: relative;
}

.clase3{
  margin-top: -288px;
  margin-left: 706px;
  position: relative;
}

.tareas
{
  font-size:12px;
  color: #6b6b6b;
}

.prop-clase
{
  height:288px;
  width:320px;
  position:relative;
  border-radius:16px;
  overflow:hidden;
  border: 1px solid #d8d5d5;
}

.prop-cabecera-clase
{
  height:96px;
  width:320px;
  padding:16px 32px;
  position:relative;  
  background-color: #b80672;
  cursor: pointer;

}

.prop-cabecera-clase_dos
{
  height:96px;
  width:320px;
  padding:16px 32px;
  position:relative;  
  background-color: #185ABC;
  cursor: pointer;

}

.prop-cabecera-clase_tres
{
  height:96px;
  width:320px;
  padding:16px 32px;
  position:relative;  
  background-color: #202124;
  cursor: pointer;

}

.prop-cuerpo
{
  background-color: #ffffff;
  height:192px;
  width: 320px;
  position:relative;
  bottom:0em;
  padding: 8px 16px;
  text-align:left;
  cursor: pointer;

}

.prop-texto{
text-align:left;
position:Relative;
color: #ffffff;
font-size:16px;
}

.prop-perfil{
    position: relative;
    text-align: right;
    margin-top: -50px;
}
.prop-perfil img{
    border-radius: 50px;
}
.prop-fondo-clase{
    border-top: 2px solid #d8d5d5;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 64px;
    padding-top: 10px;
    padding-left: 224px;
    padding-bottom: 16px;
    align-items: right;
}


.subnav {
	position: fixed;
	bottom: 16px;
  left: 16px;
  cursor: pointer;
}
.subnav img{
    width: 32px;

}